option_settings:
  aws:elasticbeanstalk:container:tomcat:jvmoptions:
    Xms: 256m
    Xmx: 512m
  aws:elasticbeanstalk:application:environment:
    SERVER_PORT: 5000
    SPRING_PROFILES_ACTIVE: prod
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

container_commands:
  01_mkdir_log_dir:
    command: "mkdir -p /var/log/senasabpmback-bcastro"
  02_change_permissions:
    command: "chmod 777 /var/log/senasabpmback-bcastro"